// Color palette
$background-color: #f8f8f8;

$primary-color: #f4e041;
$secondary-color: #00bdd3;
$error-color: #cb3d40;

// Button colors
$button-color-hover: #ffe302;
$button-color-inactive: #b4b4b4;
