// Color palette
$background-color: #f8f8f8;

$primary-color: #f4e041;
$secondary-color: #00bdd3;
$error-color: #cb3d40;

// Button colors
$button-color-hover: #ffe302;
$button-color-inactive: #b4b4b4;

// Inputs width
$input-width-mobile: 328px;
$input-width-tablet: 380px;

// Screens width
$width-screen-mobile: 360px;
$width-screen-tablet: 768px;
$width-screen-desktop: 1024px;
$width-screen-desktop-2k: 2560px;
