.header {
	display: flex;
	flex-direction: column;
}

.header__rectangle {
	width: 100%;
	height: 60px;

	background-color: #000;
}

.header__block {
	background-color: #fff;
}

.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	height: 60px;

	margin: 0 auto;
	padding: 0 16px;

	@media screen and (min-width: $width-screen-tablet) {
		padding: 0 32px;
	}

	@media screen and (min-width: $width-screen-desktop) {
		padding: 0 60px;
	}

	@media screen and (min-width: $width-screen-desktop-2k) {
		width: 1170px;

		padding: 0;
	}
}

.header__logo {
	display: block;

	width: 104px;
	height: 26px;
}

.header__buttons-block {
	display: flex;
	flex-wrap: wrap;
}

.header__button:not(:first-child) {
	margin-left: 10px;
}
